#list-container
{
    margin-left: 20px;
    .project
    {
        color: salmon;
        font-size: 25px;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
    }
    .item
    {
        margin-left: 10px;
    }
}